# Loại trừ tất cả
*

# Nhưng giữ lại các file sau
!.gitignore
!README.md
!LICENSE
!Gradient_Tree_Boosting.js
!Random_Forest.js
!/data

# Các file hệ thống macOS
.DS_Store
.AppleDouble
.LSOverride

# Loại trừ các file Python biên dịch
__pycache__/
*.pyc

# Loại trừ các file LaTeX tạm thời
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.synctex.gz
*.fdb_latexmk
*.fls

# Loại trừ các file hình ảnh tạm thời
*.png
*.jpg
*.jpeg
*.svg